<html>
<body>
  Greetings, <%= @user.email %>

  Your submitted weather
  observation has been commented on by another user. Please visit your submission to see the review.

  Thanks,

  The Threesacloud Team

  <%= yield %>
</body>
</html>
