---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_API>/conditions/q/CA/Boston.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.028'
      Last-Modified:
      - Thu, 08 Jan 2015 01:47:09 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t\t, \"results\": [\n\t\t{\n\t\t\"name\":
        \"Boston\",\n\t\t\"city\": \"Boston\",\n\t\t\"state\": \"GA\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"31626.1.99999\",\n\t\t\"l\": \"/q/zmw:31626.1.99999\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Boston\",\n\t\t\"city\": \"Boston\",\n\t\t\"state\": \"IN\",\n\t\t\"country\":
        \"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"country_name\":\"USA\",\n\t\t\"zmw\":
        \"47324.1.99999\",\n\t\t\"l\": \"/q/zmw:47324.1.99999\"\n\t\t}\n\t\t,\n\t\t{\n\t\t\"name\":
        \"Boston\",\n\t\t\"city\": \"Boston\",\n\t\t\"state\": \"KY\",\n\t\t\"country\":
        \"US\",\n\t\t\"coun[...]
[...]
