---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/<WEATHER_API>/conditions/q/MA/Boston.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.044'
      Last-Modified:
      - Thu, 08 Jan 2015 01:47:10 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Boston, MA\",\n\t\t\"city\":\"Boston\",\n\t\t\"state\":\"MA\",\n\t\t\"state_name\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"02101\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"42.37046814\",\n\t\t\"longitude\":\"-71.02747345\",\n\t\t\"elevation\":\"6.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"Southie, Boston, Massachusetts\",\n\t\t\"city\":\"Southie,
        Boston\",\n\t\t\"state\":\"Massachusetts\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"42.336655\",\n\t\t\"longitude\":\"-71.035561\",\n\t\t\"elevation\":\"33
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KMABOSTO42\",\n\t\t\"observation_time\":\"Last
        Updated on January 7, 8:47 PM EST\",\n\t\t\"observation_time_rfc822\":\"Wed,
        07 Jan 2015 20:47:03 -0500\",\n\t\t\"observation_epoch\":\"1420681623\",\n\t\t\"local_time_rfc822\":\"Wed,
        07 Jan 2015 20:47:10 -0500\",\n\t\t\"local_epoch\":\"1420681630\",\n\t\t\"local_tz_short\":\"EST\",\n\t\t\"local_tz_long\":\"America/New_York\",\n\t\t\"local_tz_offset\":\"-0500\",\n\t\t\"weather\":\"Partly
        Cloudy\",\n\t\t\"temperature_string\":\"10.6 F (-11.9 C)\",\n\t\t\"temp_f\":10.6,\n\t\t\"temp_c\":-11.9,\n\t\t\"relative_humidity\":\"45%\",\n\t\t\"wind_string\":\"From
        the West at 12.1 MPH Gusting to 23.0 MPH\",\n\t\t\"wind_dir\":\"West\",\n\t\t\"wind_degrees\":281,\n\t\t\"wind_mph\":12.1,\n\t\t\"wind_gust_mph\":\"23.0\",\n\t\t\"wind_kph\":19.5,\n\t\t\"wind_gust_kph\":\"37.0\",\n\t\t\"pressure_mb\":\"1015\",\n\t\t\"pressure_in\":\"29.99\",\n\t\t\"pressure_trend\":\"+\",\n\t\t\"dewpoint_string\":\"-6
        F (-21 C)\",\n\t\t\"dewpoint_f\":-6,\n\t\t\"dewpoint_c\":-21,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"-4
        F (-20 C)\",\n\t\t\"windchill_f\":\"-4\",\n\t\t\"windchill_c\":\"-20\",\n\t\t\"feelslike_string\":\"-4
        F (-20 C)\",\n\t\t\"feelslike_f\":\"-4\",\n\t\t\"feelslike_c\":\"-20\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"0\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\"0.00 in (0 mm)\",\n\t\t\"precip_today_in\":\"0.00\",\n\t\t\"precip_today_metric\":\"0\",\n\t\t\"icon\":\"partlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/nt_partlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/MA/Boston.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KMABOSTO42\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=42.336655,-71.035561\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 08 Jan 2015 01:47:09 GMT
[...]
