
<div class="row">
  <% @weathers.each do |weather| %>
  <p>
    <div class="large-3 columns">
      <span class="">
        <a href="/weathers/<%= weather.id %>" class="button radius">
          <%= weather.city %>, <%= weather.date.strftime("%B %d %Y") %>
        </a>
      </span>
    </div>
  </p>
  <% end %>
</div>